<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div class="container">

    <div th:replace="fragments/bodyHeader :: bodyHeader" />

        <div class="jumbotron">
            <h1>MET 소개 페이지</h1>

            <p class="lead">데모 버전</p>
            <p>
                <a class="btn btn-lg btn-secondary" href="/demo">체험</a>
                <a class="btn btn-lg btn-secondary" href="/QnA">문의</a>
            </p>
            <p class="lead">MET</p>
            <p>
                <a class="btn btn-lg btn-secondary" href="/login">login</a>
        </p>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div>

</body>
</html>