<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div id="page-wrapper">
    <div th:replace="fragments/menu :: menu" />
    <!-- 본문 -->
    <div id="page-content-wrapper">
        <div id="bodyContent" class="container-fluid">

            <div th:replace="fragments/footer :: footer" />
        </div>
    </div>
</div>
</body>
</html>